@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
.root {
	height: 100vh;
	background-color: #f1f1f1;
}

.fotter_links {
	text-decoration: none;
	color: white;
}

.fotter_links:hover {
	text-decoration: underline;
}

.old-price {
	text-decoration: line-through;
}
